#будетигнорироватьсякаталог tmp
tmp/
#будутигнорироватьсявсефайлыикаталогисрасширением _old и _backup
*_old
*_backup
#будутигнорироватьсявсефайлыикаталоги
Thumbs.db
#будутигнорироватьсявсефайлыикаталоги
.DS_Store
